.card {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin: 10px;
    display: block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenedor {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
}

button {
    padding: 8px 14px;
    margin: 10px;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}